/* Styling for Labels */
.label {
    -fx-font-family: "Roboto";
    -fx-font-size: 18;
    -fx-text-fill: #ffffff; /* White text color */
}

/* Styling for #lblCurrentTime and #lblDuration */
#lblCurrentTime,
#lblDuration {
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
    -fx-text-fill: #ffffff; /* White text color */
}

#lblSongName {
    -fx-font-family: "Roboto";
    -fx-font-size: 26;
    -fx-text-fill: #ffffff; /* White text color */
}

/* Styling for Buttons */
.button {
    -fx-font-family: "Roboto";
    -fx-font-size: 16;
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-text-fill: #ffffff; /* White text color */
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #4a6572); /* Yellow gradient for hover effect */
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #7d7f8d);
}

/* Styling for ProgressBar */
.progress-bar {
    -fx-background: linear-gradient(to bottom right, #2c3e50, #5f80a9);
    -fx-border-color: #2c3e50; /* Border color */
    -fx-border-width: 2; /* Border width */
    -fx-pref-width: 200; /* Preferred width */
    -fx-pref-height: 20; /* Preferred height */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-radius: 10; /* Rounded corners for border */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1); /* Shadow effect */
}

/* Styling for ProgressBar's bar */
.progress-bar .bar {
    -fx-background-color: linear-gradient(to left, #517395, #7d7f8d); /* Darker color for the bar */
    -fx-background-insets: 0, 1, 2; /* Insets for the bar */
    -fx-background-radius: 10; /* Rounded corners for the bar */
}

/* Styling for Slider */
.slider {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-accent: linear-gradient(to bottom right, #2c3e50, #3c3e44); /* Darker gradient accent color */
}

/* Styling for Thumb (handle) of the Slider */
.slider .thumb {
    -fx-background-color: #3498db; /* Gradient color for the thumb */
    -fx-background-radius: 10;
}

/* Styling for Track (bar) of the Slider */
.slider .track {
    -fx-background-color: linear-gradient(to left, #517395, #7d7f8d); /* Darker gradient color for the track */
}

.slider .thumb :hover {
    -fx-background-color: linear-gradient(to left, #517395, #7d7f8d); /* Darker gradient color on hover */
}

/* Styling for TextArea */
.text-area {
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-text-fill: #ffffff; /* White text color */
}

/* Styling for BorderPane */
.border-pane {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
}

/* Styling for center, top, left, right, and bottom content of BorderPane */
.border-pane .center,
.border-pane .top,
.border-pane .left,
.border-pane .right {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-padding: 10;
}

#vBoxPlayBackBar {
}

/* Styling for TreeView */
.tree-view {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-text-fill: #ffffff; /* White font color */
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
}

/* Styling for TreeItems */
.tree-view .tree-cell {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-text-fill: #ffffff; /* White font color */
}

/* Styling for selected items in TreeView */
.tree-view .tree-cell:selected {
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #3498db); /* Blue gradient for selected items */
    -fx-text-fill: #ffffff; /* White text color for selected items */
}

/* Styling for hover effect on TreeView items */
.tree-view .tree-cell:hover {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #4a6572); /* Yellow gradient for hover effect */
}
.tree-view .tree-cell:pressed {
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #7d7f8d);
}

.tree-view .tree-disclosure-node .arrow {
    -fx-background-color: #3498db; /* Blue arrow color */
    -fx-fill: #3498db; /* Blue fill color for the arrow */
}

/* Styling for ListView */
.list-view {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-text-fill: #ffffff; /* White font color */
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
}

/* Styling for ListItems */
.list-view .list-cell {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-text-fill: #ffffff; /* White font color */
}

/* Styling for selected items in ListView */
.list-view .list-cell:selected {
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #3498db); /* Blue gradient for selected items */
    -fx-text-fill: #ffffff; /* White text color for selected items */
}

/* Styling for hover effect on ListView items */
.list-view .list-cell:hover {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #4a6572); /* Yellow gradient for hover effect */
}
.list-view .list-cell:pressed {
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #7d7f8d);
}

/* Styling for all vertical scrollbars */
.scroll-bar:vertical {
    -fx-background-color: #3c3e44; /* Dark slate gray background color */
}

/* Styling for all vertical thumbs in scrollbars */
.scroll-bar:vertical .thumb {
    -fx-background-color: #3498db; /* Gradient color for the thumb */
}

/* Styling for all vertical tracks in scrollbars */
.scroll-bar:vertical .track {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background for the track */
}


/* Styling for all vertical increment and decrement buttons in scrollbars */
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: #2c3e50; /* Midnight blue color for the buttons */
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}

/* Styling for all vertical increment and decrement arrows in scrollbars */
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #ffffff; /* White color for the arrows */
}

/* Styling for all vertical increment and decrement buttons on hover in scrollbars */
.scroll-bar:vertical .increment-button:hover,
.scroll-bar:vertical .decrement-button:hover {
    -fx-background-color: #3498db; /* Blue color for the buttons on hover */
}

/* Styling for all horizontal scrollbars */
.scroll-bar:horizontal {
    -fx-background-color: #3c3e44; /* Dark slate gray background color */
}

/* Styling for all horizontal thumbs in scrollbars */
.scroll-bar:horizontal .thumb {
    -fx-background-color: #3498db; /* Midnight blue color for the thumb */
}

/* Styling for all horizontal tracks in scrollbars */
.scroll-bar:horizontal .track {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background for the track */
}

/* Styling for all horizontal increment and decrement buttons in scrollbars */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: #2c3e50; /* Midnight blue color for the buttons */
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}

/* Styling for all horizontal increment and decrement arrows in scrollbars */
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #ffffff; /* White color for the arrows */
}

/* Styling for all horizontal increment and decrement buttons on hover in scrollbars */
.scroll-bar:horizontal .increment-button:hover,
.scroll-bar:horizontal .decrement-button:hover {
    -fx-background-color: #3498db; /* Blue color for the buttons on hover */
}


/* Styling for MenuBar */
.menu-bar {
    -fx-background-color: #3498db; /* Blue color for the buttons on hover */
}

/* Styling for labels, checkboxes, and menu items in menu bar and context menu */
.menu-bar .label,
.menu-bar .menu-item,
.context-menu .menu-item .label {
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    /* White text color for label, checkboxes, and menu items */
}

.check-box .label {
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
}


.menu-bar .menu-item:hover,
.menu-bar .menu-item:pressed {
    -fx-background-color: #2980b9;
    /* Slightly darker red background color on hover or press */
}

#lblStatus {
    -fx-text-fill: #ffffff;
    -fx-font-size: 10;
}

.menu-bar .menu :hover {
    -fx-background-color: #2980b9;
    /* New background color on hover */
}

.menu-bar .menu {
    -fx-background-color: transparent;
    /* Set the menu background color */
}

/* Styling for ChoiceBox */
.choice-box {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
}

.choice-box:hover {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #4a6572); /* Yellow gradient for hover effect */ /* Yellow gradient on hover */
}

.choice-box .label {
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    /* White text color for label */
}

.choice-box-popup .menu-item {
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-text-fill: #ffffff; /* White text color for choice box options */
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background for options */
}

.choice-box-popup .menu-item:hover,
.choice-box-popup .menu-item:pressed {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background on hover or press */
}


.context-menu {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
}

/* Sample CSS for styled-alert class */
.styled-alert {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-font-family: "Roboto";
    -fx-text-fill: #ffffff; /* White text color */
    -fx-padding: 10; /* Add padding to the label */
}

/* Sample CSS for styled-alert class */
.styled-alert .label {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-font-family: "Roboto";
    -fx-font-size: 18;
    -fx-text-fill: #ffffff; /* White text color */
    -fx-padding: 10; /* Add padding to the label */
}

/* Sample CSS for styled-alert class */
.styled-alert .context-menu {
    -fx-background-color: linear-gradient(to bottom right, #3c3e44, #2c3e50); /* Gradient background */
    -fx-font-family: "Roboto";
    -fx-font-size: 18;
    -fx-text-fill: #ffffff; /* White text color */
    -fx-padding: 10; /* Add padding to the label */
}

.separator {
    -fx-background-color: linear-gradient(to left, #517395, #7d7f8d); /* Make the background transparent */
    -fx-pref-height: 2;
    -fx-border-color: null;
}

#verticalSeparator{
    -fx-background-color: linear-gradient(to bottom, #517395, #7d7f8d); /* Make the background transparent */
    -fx-pref-width: 2;
    -fx-border-color: null;
}

.line {
    -fx-border-width: 0px;
    -fx-border-insets: 0px;
}

#menuBarVbox {
    -fx-background-color: linear-gradient(to top right, #3c3e44, #2c3e50);
}

#hbxStatus {

}
